<div class="form-group">
  <label for="Item">Item to Add</label>
  <input class="form-control"
         #thingy
         name="item">
  <button class="btn btn-success"
          (click)="addItem(thingy)">Add Item</button>
</div>
<section>
  <ul class="list-unstyled">
    <!--ngClass: if true, apply this class to the element-->
    <li class="alert"
        [ngClass]="{'alert-dark': item.completed, 'alert-info': !item.completed}"
        *ngFor="let item of items$ | async">
      <!--Only show this button if item is NOT completed-->
      <button *ngIf="!item.completed"
              (click)="markCompleted(item)"
              class="btn btn-sm btn-danger">X</button>
      <span [ngClass]="{'completed': item.completed}">{{item.description}}</span>
    </li>
  </ul>

</section>
<button *ngIf="hasCompleted$ | async"
        (click)="clearCompleted()"
        class="btn, btn-danger">Clear Completed</button>
