<section>
  <div class="form-group">
    <label for="amount">Bill Amout</label>
    <input type="number"
           #amountElement
           (keyup)="amountChanged(amountElement.valueAsNumber)"
           class="form-control"
           name="amount">
    <!-- Above, (keyup) is an eventListener where on "keyup" the element #amountElement changes-->
  </div>
</section>
<section>
  <div class="btn-group"
       role="group"
       aria-label="Tip Amount">
    <button type="button"
            (click)="changeTipPercentage(.1)"
            class="btn btn-secondary tipButton"
            [disabled]="tipPercentage === .1">10%</button>
    <button type="button"
            (click)="changeTipPercentage(.15)"
            class="btn btn-secondary tipButton"
            [disabled]="tipPercentage === .15">15%</button>
    <button type="button"
            (click)="changeTipPercentage(.2)"
            disabled
            class="btn btn-secondary tipButton"
            [disabled]="tipPercentage === .2">20%</button>
    <button type="button"
            (click)="changeTipPercentage(.25)"
            class="btn btn-secondary tipButton"
            [disabled]="tipPercentage === .25">25%</button>
  </div>
</section>
<section>
  <ul class="list-group">
    <!--Takes amount from tip-calculator.component.ts and formats it as currency-->
    <li class="list-group-item">Bill Amount <span>{{amount | currency}}</span></li>
    <li class="list-group-item">Tip Percentage <span>{{tipPercentage | percent}}</span></li>
    <li class="list-group-item">Tip Amount <span>{{tipAmount | currency}}</span></li>
    <li class="list-group-item">Total To Be Paid <span>{{total | currency}}</span></li>
  </ul>
</section>
